body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
    
}
header{
    border-style: outset;
    border-color: #FFFFFF;
    background-color: #BEE9E8;
    margin-bottom: 50px;
}
header nav ul{
    list-style: none;
    padding: 0px;
    
}
header nav ul li{
    display: inline-block;
    padding: 0px 15px;
    
    
}
header nav{
    margin: auto;
    width: fit-content;
    display: block;
}
nav a{
    
    font-size: 15px;
    color: #000000;
    
    font-family: Arial, Helvetica, sans-serif;  
}
.flex-intro{
    margin-top: 50px;
    border: solid;
    border-width: 2px;
    padding: 50px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-intro img{
    width: 450px;
    background-size: cover;
    background-position: center;
}

.flex-intro .text{
    text-align: center;
    padding: 55px;
    margin-top: 150px;
}

.flex-intro table{
    width:50%;
}
.flex-intro table tr .Border{
    border-style: outset;
}

.flex-intro table td{
    text-align: center;
    padding: 25px;
}



